In [2]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import urllib.request 
import os
import pandas as pd

In [86]:
# URL of page to be scraped
#url ="https://redplanetscience.com/"
filepath = os.path.join("News - Mars Exploration Program.html")
with open(filepath, encoding='utf-8') as file:
    html = file.read()

In [87]:
# Retrieve page with the requests module
#response = requests.get(url)
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
# Examine the results, then determine element that contains sought info
print(soup.prettify())

In [90]:
# results are returned as an iterable list
results = soup.find('section',class_='image_and_description_container')

In [108]:
dates = soup.find_all('div',class_ ='list_date')
# A blank list to hold dates
date_list = []
# Loop over div elements
for date in dates:
     date_list.append(date.text)

In [109]:
print(date_list)

['January 17, 2022', 'January 16, 2022', 'January 16, 2022', 'January 16, 2022', 'January 15, 2022', 'January 14, 2022', 'January 10, 2022', 'January 3, 2022', 'January 3, 2022', 'December 29, 2021', 'December 27, 2021', 'December 25, 2021', 'December 21, 2021', 'December 21, 2021', 'December 20, 2021']

In [110]:
content_titles = soup.find_all('div',class_ ='content_title')
# A blank list to hold dates
content_titles_list = []
# Loop over div elements
for title in content_titles:
     content_titles_list.append(title.text)

In [111]:
content_titles_list

["NASA's New Mars Rover Is Ready for Space Lasers",
 "A New Video Captures the Science of NASA's Perseverance Mars Rover",
 'NASA Adds Return Sample Scientists to Mars 2020 Leadership Team',
 "NASA's Perseverance Rover Mission Getting in Shape for Launch",
 "NASA's Treasure Map for Water Ice on Mars",
 "Screening Soon: 'The Pathfinders' Trains Lens on Mars",
 "NASA Readies Perseverance Mars Rover's Earthly Twin ",
 'Two of a Space Kind: Apollo 12 and Mars 2020',
 "NASA's Mars 2020 Rover Tests Descent-Stage Separation",
 "Q&A with the Student Who Named Ingenuity, NASA's Mars Helicopter",
 "The Detective Aboard NASA's Perseverance Rover",
 "NASA's Curiosity Rover Finds an Ancient Oasis on Mars",
 "Celebrate Mars Reconnaissance Orbiter's Views From Above",
 "NASA's Perseverance Rover Will Look at Mars Through These 'Eyes'",
 "HiRISE Views NASA's InSight and Curiosity on Mars"]

In [112]:
articles_body = soup.find_all('div',class_ ='article_teaser_body')
# A blank list to hold dates
articles_body_list = []
# Loop over div elements
for article in articles_body:
     articles_body_list.append(article.text)

In [113]:
articles_body_list

['Perseverance is one of a few Mars spacecraft carrying laser retroreflectors. The devices could provide new science and safer Mars landings in the future.',
 'With a targeted launch date of July 30, the next robotic scientist NASA is sending to the to the Red Planet has big ambitions.',
 'The leadership council for Mars 2020 science added two new members who represent the interests of scientists destined to handle and study the first samples from Red Planet.',
 'Stacking spacecraft components on top of each other is one of the final assembly steps before a mission launches to the Red Planet. ',
 'A new study identifies frozen water just below the Martian surface, where astronauts could easily dig it up.',
 'With the Mars 2020 mission ramping up, the documentary — the first of four about past JPL missions to the Red Planet to be shown at Caltech — tells a gripping backstory.',
 "Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.",
 'Apollo 12 and the upcoming Mars 2020 mission may be separated by half a century, but they share several goals unique in the annals of space exploration.',
 "A crane lifts the rocket-powered descent stage away from NASA's Mars 2020 rover after technicians tested the pyrotechnic charges that separate the two spacecraft.",
 'As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.',
 'An instrument called SHERLOC will, with the help of its partner WATSON, hunt for signs of ancient life by detecting organic molecules and minerals.',
 "New evidence suggests salty, shallow ponds once dotted a Martian crater — a sign of the planet's drying climate.",
 'Marking its 15th anniversary since launch, one of the oldest spacecraft at the Red Planet has provided glimpses of dust devils, avalanches, and more.',
 'A pair of zoomable cameras will help scientists and rover drivers with high-resolution color images.',
 'New images taken from space offer the clearest orbital glimpse yet of InSight as well as a view of Curiosity rolling along.']

In [114]:
news_title=content_titles_list[0]
news_p = articles_body_list[0]

In [115]:
news_title

"NASA's New Mars Rover Is Ready for Space Lasers"

In [116]:
news_p

'Perseverance is one of a few Mars spacecraft carrying laser retroreflectors. The devices could provide new science and safer Mars landings in the future.'

In [409]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\doyel\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

In [412]:
url = "https://spaceimages-mars.com/"
browser.visit(url)

In [411]:
# Design an XPATH selector to grab the "Mars in natural color in 2007" image on the right
xpath = '//div//a//button[@class="btn btn-outline-light"]'

In [146]:
xpath

'//div//a//button[@class="btn btn-outline-light"]'

In [147]:
# Use splinter to Click the "Mars in natural color in 2007" image 
# to bring up the full resolution image
results = browser.find_by_xpath(xpath)
button = results[0]
button.click()

<splinter.element_list.ElementList object at 0x00000238F2643190>

In [150]:
# Scrape the browser into soup and use soup to find the full resolution image of mars
# Save the image url to a variable called `img_url`
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
img_url = soup.find("img", class_="fancybox-image")["src"]

'image/featured/mars3.jpg'

In [151]:
featured_image_url=img_url

In [ ]:
browser.quit()

### Mars Facts


### Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.


### Use Pandas to convert the data to a HTML table string.

In [3]:
url_panda = "https://galaxyfacts-mars.com/"

In [4]:
tables = pd.read_html(url_panda)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [5]:
type(tables)

list

In [6]:
df = tables[0]
df.columns = ['Description','Mars','Earth']
df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [7]:
df.set_index('Description')

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [8]:
Mars_html = df.to_html()
Mars_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [12]:
df.to_html("templates/index.html")

In [13]:
mars_list = df.values.tolist()
mars_list

[['Mars - Earth Comparison', 'Mars', 'Earth'],
 ['Diameter:', '6,779 km', '12,742 km'],
 ['Mass:', '6.39 × 10^23 kg', '5.97 × 10^24 kg'],
 ['Moons:', '2', '1'],
 ['Distance from Sun:', '227,943,824 km', '149,598,262 km'],
 ['Length of Year:', '687 Earth days', '365.24 days'],
 ['Temperature:', '-87 to -5 °C', '-88 to 58°C']]

In [15]:
mars_list[0][2]

'Earth'

### Mars Hemispheres


### Visit the astrogeology site here to obtain high resolution images for each of Mar's hemispheres.


### You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.


### Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.


### Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [471]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\doyel\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

In [472]:
url = "https://marshemispheres.com/"
browser.visit(url)

In [473]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [451]:
links = soup.find_all('a', class_='itemLink product-item')

title_list = []
# Loop over td elements
for link in links:
    # If td element has an anchor...
    if (link.h3):
        if (link.h3.text):
            # Append the td to the list
            title_list.append(link.h3.text)

In [235]:
title_list_final = []
for i in range (0 , 4) :
    title_list_final.append(title_list[i])

In [236]:
title_list_final

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [ ]:
"itemLink product-item"

In [474]:
links = soup.find_all('div', class_='item')
img_url_list = []
url_list = []

for link in links :
    url=link.find('a')['href']
    #final_url = "https://marshemispheres.com/" + url
    url_list.append(url)
    
url_list

['cerberus.html', 'schiaparelli.html', 'syrtis.html', 'valles.html']

In [421]:
links = soup.find_all('div', class_='item')
img_url_list = []
url_list = []

for link in links :
    url=link.find('a')['href']
    url_list.append(url)

In [422]:
url_list

[]

In [468]:
# Use splinter to Click the "Mars in natural color in 2007" image 
# to bring up the full resolution image
img_url_list = []
    #for i in range(0,4):
   # xpath = ""
    #alt_list = ["Cerberus Hemisphere Enhanced thumbnail","Schiaparelli Hemisphere Enhanced thumbnail","Syrtis Major Hemisphere Enhanced thumbnail","Valles Marineris Hemisphere Enhanced thumbnail"]
    #xpath = '//img[@alt ='+ "'" + alt_list[i] + "'" +']'
#xpath='//div//a[@class="itemLink product-item"]/img'
xpath = '//a[@href=' + '"' + url_list[0] + '"' + ']/img'
    #img_url_list.append(xpath)
results = browser.find_by_xpath(xpath)
image = results[0]
image.click()
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
img_url1 = soup.find("img", class_="wide-image")["src"]
#img_url_list.append(img_url)

In [469]:
img_url1

'images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'

In [477]:

url = "https://marshemispheres.com/"
browser.visit(url)

xpath = '//a[@href=' + '"' + url_list[1] + '"' + ']/img'
results = browser.find_by_xpath(xpath)
image = results[0]
image.click()
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
img_url2 = soup.find("img", class_="wide-image")["src"]

In [478]:
img_url2

'images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'

In [479]:

url = "https://marshemispheres.com/"
browser.visit(url)

xpath = '//a[@href=' + '"' + url_list[2] + '"' + ']/img'
results = browser.find_by_xpath(xpath)
image = results[0]
image.click()
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
img_url3 = soup.find("img", class_="wide-image")["src"]

In [480]:
img_url3

'images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'

In [481]:
url = "https://marshemispheres.com/"
browser.visit(url)

xpath = '//a[@href=' + '"' + url_list[3] + '"' + ']/img'
results = browser.find_by_xpath(xpath)
image = results[0]
image.click()
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
img_url4 = soup.find("img", class_="wide-image")["src"]

In [482]:
img_url4

'images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'

In [332]:
results = browser.find_by_xpath(xpath)
image = results[0]
image.click()

In [333]:
    #results = browser.find_by_xpath(xpath)
    #image = results[0]
    #image.click()
    
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    img_url = soup.find("img", class_="wide-image")["src"]
    #img_url_list.append(img_url)

In [334]:
img_url

'images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'

In [306]:
    
results = browser.find_by_xpath(img_url_list[0])
image = results[0]
image.click()

In [286]:
img_url

'images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'

In [307]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
img_url = soup.find("img", class_="wide-image")["src"]

In [308]:
img_url

'images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'

In [ ]:
hemisphere_image_urls = [
    {"title": title_list_final[0], "img_url": img_url1},
    {"title": title_list_final[1], "img_url": img_url2},
    {"title": title_list_final[3], "img_url": img_url3},
    {"title": title_list_final[4], "img_url": img_url4},
]